<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container-fluid container background-color">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <form [formGroup]="addMore">
    <p class="titulo-form">Carga de entrenamiento</p>
    <div class="contenedor-seccion">
      <div class="form-group row">
        <label for="select" class="col-4 col-form-label label-form">Planificacion</label>
        <div class="col-8">
          <select id="select" name="select" aria-describedby="selectHelpBlock" class="custom-select"
            formControlName="planificacion">
            <option value="hppastrid">HPP ASTRID TEAM</option>
          </select>
          <span id="selectHelpBlock" class="form-text text-muted">Planificacion a la cual cargar el entrenamiento</span>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-4 label-form">Hacer visible?</label>
        <div class="col-8">
          <div class="custom-control custom-radio custom-control-inline">
            <input name="visible" id="visible_0" type="radio" class="custom-control-input" value="si"
              aria-describedby="visibleHelpBlock">
            <label for="visible_0" class="custom-control-label" formControlName="visible">Si</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input name="visible" id="visible_1" type="radio" class="custom-control-input" value="no"
              aria-describedby="visibleHelpBlock">
            <label for="visible_1" class="custom-control-label" formControlName="visible">No</label>
          </div>
          <span id="visibleHelpBlock" class="form-text text-muted">Hacer visible entrenamiento a los atletas</span>
        </div>
      </div>
      <div class="form-group row">
        <label for="comentariosE" class="col-4 col-form-label label-form">Comentarios entrenamiento</label>
        <div class="col-8">
          <textarea id="comentariosE" name="comentariosE" cols="40" rows="5" aria-describedby="comentariosEHelpBlock"
            class="form-control" formControlName="comentariosP"></textarea>
          <span id="comentariosEHelpBlock" class="form-text text-muted">Comentarios referidos al entrenamiento del
            dia</span>
        </div>
      </div>
    </div>
    <div formArrayName="secciones">
      <div *ngFor="let seccion of secciones().controls; let secIndex = index" class="contenedor-seccion">

        <div [formGroupName]="secIndex">

          <h1 class="titulo-seccion">Seccion {{ secIndex + 1 }}</h1> <br>

          <div class="form-group row">
            <label for="tipoSeccion" class="col-4 col-form-label label-form">Tipo seccion</label>
            <div class="col-8">
              <select id="tipoSeccion" name="tipoSeccion" class="custom-select" formControlName="tipo">
                <option value="activacion">Activacion</option>
                <option value="rest">Rest</option>
                <option value="core">Core</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="comentarioS" class="col-4 col-form-label label-form">Comentarios seccion</label>
            <div class="col-8">
              <textarea id="comentarioS" name="comentarioS" cols="40" rows="5" aria-describedby="comentarioSHelpBlock"
                class="form-control" formControlName="comentariosS"></textarea>
              <span id="comentarioSHelpBlock" class="form-text text-muted">Comentarios referidos a la seccion</span>
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-4 col-8 ">
              <button name="submit" type="submit" class="btn btn-primary float-right"
                (click)="borrarSeccion(secIndex)">Borrar seccion</button>
            </div>
          </div>


          <div class="contenedor-seccion" formArrayName="wods">
            <div *ngFor="let wod of wods(secIndex).controls; let wodIndex = index" class="container">
              <div [formGroupName]="wodIndex">

                <h1 class="titulo-wod">Wod {{ wodIndex + 1 }}</h1> <br>

                <div class="form-group row">
                  <label for="timers" class="col-4 col-form-label label-form">Timer</label>
                  <div class="col-8">
                    <select id="timers" name="timers" aria-describedby="timersHelpBlock" class="custom-select"
                      formControlName="idTimer"></select>
                    <span id="timersHelpBlock" class="form-text text-muted">Seleccione el timer</span>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="tipoScore" class="col-4 col-form-label label-form">Tipo de score</label>
                  <div class="col-8">
                    <select id="tipoScore" name="tipoScore" aria-describedby="tipoScoreHelpBlock" class="custom-select"
                      formControlName="tipoScore">
                      <option value="reps">Reps</option>
                      <option value="peso">Peso</option>
                      <option value="tiempo">Tiempo</option>
                    </select>
                    <span id="tipoScoreHelpBlock" class="form-text text-muted">Seleccione el tipo de score para el
                      wod</span>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="descWod" class="col-4 col-form-label label-form">Descripcion wod</label>
                  <div class="col-8">
                    <textarea id="descWod" name="descWod" cols="40" rows="5" class="form-control"
                      formControlName="descripcion"></textarea>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="comentariosW" class="col-4 col-form-label label-form">Comentarios wod</label>
                  <div class="col-8">
                    <textarea id="comentariosW" name="comentariosW" cols="40" rows="5"
                      aria-describedby="comentariosWHelpBlock" class="form-control"
                      formControlName="comentariosW"></textarea>
                    <span id="comentariosWHelpBlock" class="form-text text-muted">Comentarios referidos al wod</span>
                  </div>
                </div>
                <div class="form-group row justify-content-end">
                  <div class="col-auto">
                    <button name=" submit" type="submit" class="btn btn-primary "
                      (click)="borrarWod(secIndex, wodIndex)">Borrar
                      wod</button>
                  </div>
                </div>

              </div>
            </div>
            <div class="form-group row justify-content-end">
              <div class="col-auto">
                <button name=" submit" type="submit" class="btn btn-primary " (click)="agregarWod(secIndex)">Agregar
                  wod</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </form>

  <div class="form-group row justify-content-end">
    <div class="col-auto">
      <button name=" submit" type="submit" class="btn btn-primary " (click)="agregarSeccion()">Agregar seccion
      </button>
    </div>
  </div>

  <div class="form-group row justify-content-end">
    <div class="col-auto">
      <button name=" submit" type="submit" class="btn btn-primary ">Cargar entrenamiento
      </button>
    </div>
  </div>
</div>