<div class="login-form">
  <form [formGroup]="loginForm" class="border border-secondary rounded">
    <div class="avatar"><i class="fas fa-dumbbell"></i></div>
    <h4 class="modal-title">Logueate en tu cuenta</h4>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Email" required="required" formControlName="email" />
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Contraseña" required="required" formControlName="pwd" />
    </div>
    <div class="form-group small clearfix">
      <label class="checkbox-inline"><input type="checkbox" /> Recordarme</label>
      <a href="#" class="forgot-link">Olvidaste tu contraseña?</a>
    </div>
    <input type="submit" class="btn btn-primary btn-block btn-lg" value="Login" (click)="login()" />
  </form>
  <div class="text-center small">
    No tenes cuenta? <a href="#">Registrate</a>
  </div>
</div>