<div class="container col-11 col-sm-8 col-lg-5 mx-auto bg-transparent border border-secondary py-2 rounded">
    <form [formGroup]="fg">
        <p class="text-center h3 my-3 text-white">Crea tu cuenta</p>
        <hr>
        <div class="form-group row">

            <div class="col-12">
                <input type="text" placeholder="Nombre completo" name="nombre" id="nombre" formControlName="nombre"
                    class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12">
                <input type="text" placeholder="Apellido" name="apellido" id="apellido" formControlName="apellido"
                    class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12">
                <input type="email" placeholder="Email" name="email" id="email" formControlName="email"
                    class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12">
                <input type="password" placeholder="Contraseña" name="pwd" id="pwd" formControlName="pwd"
                    class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12">
                <select name="sexo" class="custom-select" formControlName="sexo" placeholder="d.ff">
                    <option hidden disabled value="null">Selecciona una opción</option>
                    <option value="Femenino">Femenino</option>
                    <option value="Masculino">Masculino</option>
                    <option value="Otro">Otro</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12">
                <input type="text" name="nacimiento" id="nacimiento" placeholder="Fecha de nacimiento"
                    formControlName="fechaNac" class="form-control" onfocus="this.type='date'"
                    onblur="(this.type='text')">
            </div>
        </div>
    </form>
    <hr>
    <button class="btn btn-success col-12" (click)="signUp()"><b> Registrarse</b></button>
</div>