<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Tabla de score</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="scores.length==0">
            <p class="text-center h4 muted">No hay scores cargados</p>
        </div>
        <div *ngIf="scores.length>0">

            <div class="row mb-3">
                <label for="sexo" class="col-4">Ver scores</label>
                <select name="sexo" id="sexo" class="col-auto" (change)="filtrarSexo($event.target.value)">
                    <option value="">Todos</option>
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                </select>
            </div>

            <div class="row mb-3">
                <label for="buscador" class="col-4 ">Buscar</label>
                <input type="text" name="buscador" id="buscador" class="col-auto mr-1">
                <button class="btn btn-primary col-auto mt-3 mt-md-0 ml-auto mr-2 ml-lg-0 mr-md-auto"
                    (click)="filtrarBusqueda()"><i class="fas fa-search"></i></button>
            </div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" (click)="ordenarAtletas()">Atleta</th>
                        <th scope="col" (click)="ordenarScores()">Score</th>
                    </tr>
                </thead>
                <tbody *ngFor="let score of dataSource; let i = index">
                    <tr>
                        <th scope="row">{{i+1}}</th>
                        <td>{{score.usuario.nombre + " " + score.usuario.apellido}}</td>
                        <td>{{score.score}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cerro')">Cerrar</button>
    </div>
</ng-template>

<p class="h4 col-11 col-sm-10 col-md-9 col-lg-7 mx-auto mb-0 text-white bg-titulo rounded-top">BUSCAR ENTRENAMIENTOS
</p>

<div class="container shadow mb-4 col-11 col-sm-10 col-md-9 col-lg-7 bg-light py-3 rounded-bottom">
    <form [formGroup]="fg">
        <div class="form-group row">
            <label for="date" class="col-4 col-form-label label-form">Fecha entrenamiento</label>
            <div class="col-8">
                <input type="date" name="date" id="date" formControlName="fecha">
            </div>
        </div>
        <div class="form-group row">
            <label for="select" class="col-4 col-form-label label-form"
                *ngIf="rol == 'Entrenador'">Planificacion</label>
            <div class="col-md-4 col-sm-8" *ngIf="rol == 'Entrenador'">
                <select id="selectPlanis" name="select" aria-describedby="selectHelpBlock" class="custom-select"
                    formControlName="idPlani">
                    <option value='""'></option>
                    <option value="{{planificacion.idPlanificacion}}" *ngFor="let planificacion of planificaciones">
                        {{planificacion.nombre}}
                    </option>
                </select>
            </div>
            <div class="col-auto mt-3 mt-md-0 ml-auto mr-0 ml-lg-0 mr-md-auto">
                <button name="submit" type="submit" class="btn btn-primary " (click)="consultarEntrenamiento()">Buscar
                </button>
            </div>

        </div>

    </form>

    <div *ngIf="entrenamiento.nombre !=''">
        <h2 class="nombre-prog text-center">{{entrenamiento.nombre}} ||
            {{entrenamiento.entrenXPlanis[0].fecha | date: 'dd/MM/yyyy'}}
        </h2>
    </div>
    <div>
        <mat-accordion *ngFor=" let seccion of entrenamiento.entrenXPlanis[0].secciones">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{seccion.tipoSeccion}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p style="white-space: pre-wrap;">{{seccion.comentarios}}</p>
                <mat-expansion-panel *ngFor="let wod of seccion.wods; let wodIndex = index"
                    style="margin-left: -15px; margin-right: -15px;">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Wod {{wodIndex + 1}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-expansion-panel style="margin-left: -15px; margin-right: -15px;">
                        <mat-expansion-panel-header>
                            Descripcion del Wod
                        </mat-expansion-panel-header>
                        <p>Score: {{wod.tipoScore}}</p>
                        <p style="white-space: pre-wrap;" class="ml-3">{{wod.descripcion }}</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel style="margin-right: -15px; margin-left: -15px;">
                        <mat-expansion-panel-header>
                            Comentarios del Wod
                        </mat-expansion-panel-header>
                        <p style="white-space: pre-wrap;" class="text-left">{{wod.comentarios}}</p>
                    </mat-expansion-panel>
                    <div class="row justify-content-end" *ngIf="wod.tipoScore != 'Ninguno' ">
                        <button class="btn btn-outline-primary mt-2 mr-1 "
                            (click)="open(content, entrenamiento.idPlanificacion, entrenamiento.entrenXPlanis[0].fecha, wod.idWod, seccion.idSeccion, wod.tipoScore);">Ver
                            tabla</button>
                    </div>
                </mat-expansion-panel>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <br><br>
    <div *ngIf="rol == 'Entrenador'">
        <div *ngIf="entrenamiento.entrenXPlanis[0].visible == 1" class="row justify-content-center pb-4">

            <h3 class="col-auto">El entrenamiento esta visible</h3>

            <button name=" submit" type="submit" class="btn btn-primary col-auto" (click)="hacerInvisible()">Hacer
                invisible
            </button>


        </div>
        <div *ngIf="entrenamiento.entrenXPlanis[0].visible == 0" class="row justify-content-center pb-4">

            <h3 class="col-auto">El entrenamiento no esta visible</h3>

            <button name="submit" type="submit" class="btn btn-primary col-auto" (click)="hacerVisible()">Hacer
                visible
            </button>

        </div>

        <div class="row justify-content-center" *ngIf="entrenamiento.nombre !=''">
            <button class="btn btn-danger col-3" (click)="eliminarEntrenamiento()">Eliminar</button>
        </div>
    </div>
</div>